.form-section{
  display: flex;
  justify-content: center;
  margin-top:50px;
}
.board-item{
  margin-top:40px;
  border:1px solid black;
  display: inline-block;
  padding:10px 30px;
  position:relative;
}
.board-main{
  display: flex;
  justify-content: space-evenly;
}
.cross-icon {
    position: absolute;
    top: -16px;
    right: 10px;
}